/*====================\

    SHORTHAND KEY:
    
    a: all  
    b: bottom
    c: clear  
    f: float
    h: hidden
    l: left
    m: margin
    n: none
    o: overflow
    p: padding
    r: right
    s: scroll
    x: x axis
    y: y axis
    z: z-index

\===================*/


/*==========================\
|                           |
|   Hiding                  |
|                           |
\==========================*/  

.h {
  display:none
}


/*==========================\
|                           |
|   Floats                  |
|                           |
\==========================*/

.fl {float:left;}

.fr { float:right;}

.fn { float: none; }


/*==========================\
|                           |
|   Clearing + clearfixing  |
|                           |
\==========================*/

.c { clear:both; }

.cl { clear:left;}

.cr {clear:right;}

/* clear fix (.c-fix) */

.c-fix{*zoom: 1;} /* legacy */

.c-fix:before,
.c-fix:after {
    content: " "; 
    display: table;
    clear: both;
}

.c-fix:after {
  visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


/*==========================\
|                           |
|   Overflows               |
|                           |
\==========================*/

.oh {
  overflow:hidden;
}

/* only vertical scroll */
.oy{
  overflow-y: auto;
  overflow-x: hidden;
}

/* only horizontal scroll */
.ox {
  overflow-y: hidden;
  overflow-x: auto;
}


/*========================================\
|	                                  |      
|     Spacing  Helpers -                  |
|     Pinched From Stubbornella           |
|     Y-axis = vertical (up + down)       |
|     X-axis = horizontal (left + right)  |
|                                         |
\========================================*/

.ptn,.pyn,.pan	{ padding-top:0; 	}
.pts,.pys,.pas	{ padding-top:5px; 	}
.ptm,.pym,.pam	{ padding-top:10px; 	}
.ptl,.pyl,.pal	{ padding-top:20px; 	}
.prn,.pxn,.pan	{ padding-right:0px; 	}
.prs,.pxs,.pas	{ padding-right:5px;	}
.prm,.pxm,.pam	{ padding-right:10px;	}
.prl,.pxl,.pal	{ padding-right:20px; 	}
.pbn,.pyn,.pan	{ padding-bottom:0px; 	}  
.pbs,.pys,.pas	{ padding-bottom:5px;	}
.pbm,.pym,.pam	{ padding-bottom:10px; 	}
.pbl,.pyl,.pal	{ padding-bottom:20px; 	}
.pln,.pxn,.pan	{ padding-left:0; 	}
.pls,.pxs,.pas	{ padding-left:5px; 	}
.plm,.pxm,.pam	{ padding-left:10px; 	}
.pll,.pxl,.pal	{ padding-left:20px; 	}
.mtn,.myn,.man	{ margin-top:0px; 	}
.mts,.mys,.mas	{ margin-top:5px; 	}
.mtm,.mym,.mam	{ margin-top:10px; 	}
.mtl,.myl,.mal	{ margin-top:20px; 	}
.mrn,.mxn,.man	{ margin-right:0; 	}
.mrs,.mxs,.mas	{ margin-right:5px; 	}
.mrm,.mxm,.mam	{ margin-right:10px; 	}
.mrl,.mxl,.mal	{ margin-right:20px; 	}
.mbn,.myn,.man	{ margin-bottom:0px; 	}  
.mbs,.mys,.mas	{ margin-bottom:5px; 	}
.mbm,.mym,.mam	{ margin-bottom:10px; 	}
.mbl,.myl,.mal	{ margin-bottom:20px; 	}
.mln,.mxn,.man	{ margin-left:0; 	}
.mls,.mxs,.mas	{ margin-left:5px; 	}
.mlm,.mxm,.mam	{ margin-left:10px; 	}
.mll,.mxl,.mal	{ margin-left:20px; 	}


/*======================\
|                       |
|  z-index stacking     |
|                       |
\======================*/

.z1 {z-index:10;}
.z2 {z-index:100;}
.z3 {z-index:1000;}
.z4 {z-index:10000;}
.z5 {z-index:100000;}

